@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    width: 300px;
    height: 250px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

input:focus {
    outline: none;
}
